@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

body {
  font-family: 'Muli', sans-serif;
  font-size: 2em
}

.navigation {
  background-color: #ffccff;
  width: 250px;
  height: 100%;

  position: fixed;
  top: 0px;
  left: 0px;
}

.navigation a {
  text-decoration: none;
  color: #000000;
}

.main {
  background-color: #ffffff;
  margin-left: 250px;
}

.main h1 {
  margin-top: 1em;
  padding-left: 35%;

}

.image1 {
  width: 100%;
  height: auto;
}

p {
  margin: 2em;
}
/*logo and site title*/

.logo-sitetitle {
  margin: 2em auto;
  text-align: center;
}

.logo {
  background: #ffffff;
  width: 125px;
  height: 125px;
  border: 6px solid #ffffff;
  border-radius: 100%;

  margin: 0 auto .5em auto;
  line-height: 125px;
  color: #000000;
}

.logo:hover {
  border: 6px solid #99cc66;
}

.site-title:hover {
  background-color: #99cc66;
}

.pages {
  margin: 0 4em;
font-size: 60%
}

.pages a {
  display: block;
  margin: .5em;

}

.pages a:hover {
  background-color: #99cc66;
}
